/node_modules
/src-tauri/target
/src-tauri/gen
/webapp
/geogebra
/backend/host/fonts
/backend/host/command.properties
/flatpak/staging
/flatpak/build-dir
/flatpak/.flatpak-builder
/flatpak/repo
/*.flatpak
