[Desktop Entry]
Name=GJSGebra
GenericName=Dynamic Mathematics
Comment=Graphing, geometry and algebra (native GJS + GTK4)
Exec=gjsgebra
Icon=io.github.lin_calvin.gjsgebra
Terminal=false
Type=Application
Categories=Education;Science;Math;
Keywords=math;geometry;algebra;graph;function;
StartupNotify=true
